/*reseteo basico y modo oscuro (infaltable XD)*/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: #646cff;
}

/*estilo para contenedor de formulario*/
form {
  display: flex;
  flex-direction: column;
  gap: 15px; /*espacio entre campos*/
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #2a2a2a;
}

/*estilo para campos de texto*/
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #333;
  color: white;
  width: 300px;
  font-family: inherit; /*para que use la misma fuente siempre*/
}

/*altura adicional para las area de texto*/
textarea {
  min-height: 45px;
  resize: vertical;
}

/*estilo para boton */
button {
  padding: 12px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: #646cff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #535bf2;
}
